<hr>
<h2>Usuario: {{usuario}}</h2>
<h2>Carrito id: {{carrito}}</h2>
<hr>
<form action="/api/carrito" method="post">
    <input type="submit" value="Agregar carrito">
</form>
<br>
<button onclick="location.href='/auth/logout'">Logout</button>